
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow get, create: if request.auth.uid == userId;
      allow list, update, delete: if false;

      function isOwner() {
        return request.auth.uid == userId;
      }
      
      function isOwnerAndDocExists() {
        return isOwner() && resource != null;
      }

      match /clients/{clientId} {
        allow get, list, create: if isOwner();
        allow update, delete: if isOwnerAndDocExists();
      }

      match /expenses/{expenseId} {
        allow get, list, create: if isOwner();
        allow update, delete: if isOwnerAndDocExists();
      }

      match /filaments/{filamentId} {
        allow get, list, create: if isOwner();
        allow update, delete: if isOwnerAndDocExists();
      }
      
      match /accessories/{accessoryId} {
        allow get, list, create: if isOwner();
        allow update, delete: if isOwnerAndDocExists();
      }

      match /products/{productId} {
        allow get, list, create: if isOwner();
        allow update, delete: if isOwnerAndDocExists();
      }

      match /quotes/{quoteId} {
        allow get, list, create: if isOwner();
        allow update, delete: if isOwnerAndDocExists();
      }

      match /settings/{settingId} {
        allow get, list, create: if isOwner();
        allow update, delete: if isOwnerAndDocExists();
      }

      match /trash/{trashId} {
        allow get, list, create: if isOwner();
        allow update, delete: if isOwnerAndDocExists();
      }
    }
  }
}
